.modal {
    border-radius: 0rem !important;

    .modal-content {
        border-radius: 0rem !important;

        .modal-header {
            background-color: #21d5a2 !important;
            border-radius: 0rem;

            .close {
                border: none !important;
                background-color: transparent !important;
                color: #fff !important;
                font-size: 30px;
            }

            .show-img {}
        }

        .modal-footer {

            .btn-primary {
                background-color: #21d5a2 !important;
                width: 100px;
                border-radius: 0rem !important;

                &:hover {
                    background-color: #21d3a1 !important;
                }

            }

            .btn-secondary {
                background-color: #f0f0f0 !important;
                width: 100px;
                border-radius: 0rem !important;
                color: #858585 !important;

                &:hover {
                    background-color: #e1e1e1 !important;
                }
            }
        }
    }

}